* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, " Segoe UI", "Roboto", "Inter", "Helvetica Neue", "Arial", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #096b35, #490d61); */
    background: linear-gradient(to right, #000000, #fffcfc);
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 15px;
}

/* img {
    max-width: 100%;
    height: auto;
} */

/* @media (max-width: 768px) {
    .container {
        padding: 0 5px;
    }

    h1 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
} */



/* input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #9ea3a3;
    border-radius: 17px;
    outline: none;

} */

button {
    padding: 10px;
    background: black;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #9ea3a3;
    border-radius: 17px;
    outline: none;
    cursor: pointer;
}